.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.rightButtons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.leftButtons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
