.dialog {
  background-color: var(--primary-bg);
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  inset: 0;
  margin: auto;
  max-height: 90dvh;
  max-width: min(90dvw, 30rem);
  overflow: auto;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: fit-content;
  z-index: 100;
}

.dialogButton {
  background-color: var(--text-color);
  border-radius: 0.5rem;
  color: var(--primary-bg);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.dialogButton:hover {
  background-color: color-mix(
    in srgb,
    var(--text-color) 90%,
    var(--primary-bg)
  );
}
