.topHalf {
  height: 50%;
  width: 100%;
}

.bottomHalf {
  display: flex;
  gap: 0.5rem;
  height: 50%;
  justify-content: center;
  width: calc(100% - 1rem);
}

.bottomLeft,
.bottomRight {
  font-weight: 600;
  position: relative;
  text-align: center;
  width: 50%;
}

.canvas {
  height: 100%;
  width: 100%;
}

.canvasLabel {
  color: var(--text-color);
  font-weight: 600;
  left: 1rem;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 1rem;
  z-index: 10;
}
