.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  padding: 0.5rem;
  width: 100vw;
}

.landscapeLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.leftControls,
.rightControls {
  display: none;
}

.centerContent {
  align-self: center;
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 0.5rem);
}

.scoreContainer {
  align-items: center;
  display: flex;
  flex: 0 0 10dvh;
  justify-content: center;
  width: 100%;
}

.scoreBox {
  text-align: center;
}

.score,
.highScore {
  font-weight: 600;
  margin: 0.5rem 0;
}

.gameArea {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.portraitControls {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding: 0.5rem;
}

@media (orientation: portrait) {
  .leftControls,
  .rightControls {
    display: none;
  }

  .portraitControls {
    display: flex;
    flex-basis: 40dvh;
  }

  .scoreContainer {
    flex: 0 0 8dvh;
  }

  .gameArea {
    flex: 1;
  }
}

@media (orientation: landscape) {
  .landscapeLayout {
    flex-direction: row;
  }

  .leftControls,
  .rightControls {
    align-items: center;
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
  }

  .portraitControls {
    display: none;
  }

  .scoreContainer {
    flex: 0 0 15%;
  }

  .gameArea {
    flex: 1;
  }
}
