.labelContainer {
  align-items: baseline;
  display: flex;
  gap: 1rem;
}

.sliderWrapper {
  flex-grow: 1;
  position: relative;
}

.slider {
  appearance: none;
  background: var(--text-color);
  border-radius: 999px;
  height: 0.5rem;
  margin: 0;
  outline: none;
  width: 100%;

  &::-webkit-slider-thumb {
    appearance: none;
    background: rgb(59 130 246);
    background-clip: padding-box;
    background-color: rgb(59 130 246);
    border: 0.4rem solid transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    transform: scale(4);
    width: 1rem;
  }

  &::-moz-range-thumb {
    background: rgb(59 130 246);
    background-clip: padding-box;
    background-color: rgb(59 130 246);
    border: 0.4rem solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 1rem;
    transform: scale(4);
    width: 1rem;
  }
}

.graduationsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.graduation {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tick {
  background-color: var(--text-color);
  height: 0.5rem;
  width: 1px;
}

.tickLabel {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.tickLabelContainer {
  align-items: center;
  color: var(--text-color);
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  width: 1rem;
}

.label,
.value {
  color: var(--text-color);
  font-size: 0.85rem;
  white-space: nowrap;
}

.label {
  max-width: 2ch;
  min-width: 2ch;
  text-align: right;
  width: 2ch;
}

.value {
  max-width: 3ch;
  min-width: 3ch;
  text-align: left;
  width: 3ch;
}

.top {
  border-bottom: solid 1px var(--text-color);
  float: left;
}

.bottom {
  clear: left;
  float: left;
}
