.container {
  display: inline-block;
  position: relative;
}

.button {
  align-items: center;
  background-color: var(--text-color);
  border: none;
  border-radius: 50%;
  color: var(--primary-bg);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: color-mix(
    in srgb,
    var(--text-color) 90%,
    var(--primary-bg)
  );
}

.menu {
  background-color: var(--primary-bg);
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 0;
  margin-top: 0.5rem;
  min-width: 250px;
  padding: 1rem;
  place-content: center center;
  position: absolute;
  top: 100%;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.menu.seeThrough {
  opacity: 0.3;
}

.item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  justify-content: space-between;
}

.menuButton {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.submenuHeader {
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  font-weight: 700;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.backButton {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: var(--button-bg);
  border-radius: 24px;
  cursor: pointer;
  inset: 0;
  position: absolute;
  transition: 0.4s;
}

.slider::before {
  background-color: var(--primary-bg);
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--text-color);
}

input:checked + .slider::before {
  transform: translateX(24px);
}
